body {
    font-family: 'Hack Nerd Font', Arial, sans-serif;
    background: linear-gradient(to right, #f2f2f2, #d9d9d9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    max-width: 90%;
    border: 1px solid #ddd;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-family: 'Hack Nerd Font', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Hack Nerd Font', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
};

button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.forgot-password {
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px;
}

.forgot-password a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #388E3C;
}

#noAcc{
    color:#4CAF50;

}

#createHere{
    color: darkgreen;
    text-decoration: none;
}

#createHere:hover{
    text-decoration: underline;
    color: #4CAF50;
}


@media (max-width: 600px) {
    .login-container {
        width: 100%;
        padding: 15px;
    }
}
